.bg {
  background-color: #3b2460;
  display: grid;
  grid-template-rows: 8fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
}

.chat-box {
  grid-column: 2/3;
  margin-top: 30px;
  padding: 25px;
  background: #ffffff;
  border-bottom: 1px solid #00c397;
  width: 635px;
  overflow-y: auto;
}

.input-box {
  width: 100%;
  padding: 15px;
  padding-left: 30px;
  padding-right: 50px;
  border: 0;
  font-size: 14px;
  letter-spacing: 0.5px;
  color:#2d1645;
}

.input-box::placeholder {
  color: #a4a4a4;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 300;
}

.message-form {
  grid-column: 2/3;
  grid-row: 2/3;
  position: relative;
}

.message-form div {
  position: absolute;
  color: #bababa;
  font-weight: 300;
  font-size: 11px;
  top: 19px;
  left: 6px;
}

.message-form i {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #b1bebe;
}

.message-form i:hover, .message-form i:focus {
  color: gray;
  cursor: pointer;
}

.button-placement {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.logout-button {
  grid-column: 2/3;
  background-color: #15d1a5;
  border: none;
  color: white;
  padding: 17px;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 50px;
  cursor: pointer;
  letter-spacing: 2px;
}

.logout-button:hover, .logout-button:focus {
  background-color: #14b58f;
}

@media screen and (max-width: 650px ) and (min-width: 0px) {
  .chat-box {
    margin-top: 0px;
    padding: 15px;
    width: 100vw;
  }

  .button-placement {
    grid-row: 3/5;
  }

  .logout-button {
    padding: 0px;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0px;
    margin-top: -3px;
  }
}