.bg {
  background-color: #3b2460;
  display: grid;
  grid-template-rows: 8fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
}

.chat-box {
  grid-column: 2/3;
  margin-top: 30px;
  padding: 25px;
  background: #ffffff;
  border-bottom: 1px solid #00c397;
  width: 635px;
  overflow-y: auto;
}

.input-box {
  width: 100%;
  padding: 15px;
  padding-left: 30px;
  border: 0;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.input-box::placeholder {
  color: rgb(164, 164, 164);
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 300;
}

.message-form {
  grid-column: 2/3;
  grid-row: 2/3;
  position: relative;
}

.message-form div {
  position: absolute;
  color: #bababa;
  font-weight: 300;
  font-size: 11px;
  top: 19px;
  left: 6px;
}

.message-form i {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #b1bebe;
}

.message-form i:hover {
  color: gray;
  cursor: pointer;
}

.button-placement {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.logout-button {
  grid-column: 2/3;
  background-color: #15d1a5;
  border: none;
  color: white;
  padding: 17px;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 50px;
  cursor: pointer;
  letter-spacing: 2px;
}

.logout-button:hover {
  background-color: #12c299;
}