.parent-message-box-L, 
.parent-message-box-R {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.parent-message-box-L {
  justify-content: flex-start;
}

.parent-message-box-R {
  justify-content: flex-end;
}

.message-box-R,
.message-box-L {
  display: flex;
  flex-direction: column;
}

.message-box-R {
  margin-right: 15px;
}

.message-box-L {
  margin-left: 15px;
}

.message-details-L,
.message-details-R {
  display: flex;
  flex-direction: row;
}

.message-details-L {
  justify-content: space-between;
}

.message-details-R {
  justify-content: flex-start;
}

.user-message-R:hover, 
.user-date-R:hover,
.user-message-L:hover, 
.user-date-L:hover {
  cursor: pointer;
}

.user-message-L {
  color: #564569;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
}

.user-message-R {
  color: #c8ebe4;
  border: 1px solid #00c794;
  background-color: #00c794;
}

.user-message-R,
.user-message-L {
  width: 420px;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 20px;
  transition: background-color ease-in-out 0.2s;
}

.user-date-L,
.user-date-R {
  width: 420px;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-align: center;
  color: #c0bac7;
  border: 1px solid #2d1645;
  background-color: #2d1645;
  transition: background-color ease-in-out 0.2s;
}

.user-details, .user-details-time {
  font-size: 12px;
  margin-bottom: 3px;
  color: #564569;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.better-avatar {
  background: #2d1645;
}

.date-main {
  position: relative;
}

.calendar {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 20px;
  left: 80px;
}

@media screen and (max-width: 650px ) and (min-width: 0px) { 
  .parent-message-box-L, 
  .parent-message-box-R {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .user-message-R,
  .user-message-L,
  .user-date-L,
  .user-date-R {
    width: 100%;
    max-width: 75vw;
    overflow-wrap: break-word;
  }

  .user-date-L,
  .user-date-R {
    padding-left: 38px;
  }

  .user-details, .user-details-time {
    font-size: 11px;
    margin-bottom: 3px;
  }

  .calendar {
    width: 12px;
    height: 12px;
    top: 20px;
    left: 19px;
  }
}