.parent-messsage-box-L {
  display: flex;
  flex-direction: row;

  margin-right: 100px;
  margin-bottom: 20px;
}

.parent-messsage-box-R {
  display: flex;
  flex-direction: row;

  margin-left: 100px;
  margin-bottom: 20px;
}

.message-box-R {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.message-box-L {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.message-details-L {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-details-R {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.user-message-L {
  width: 420px;
  border: 1px solid #f6f6f6;
  background: #f6f6f6;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  color: #564569;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.user-message-L:hover {
  cursor: pointer;
}

.user-date-L {
  width: 420px;
  border: 1px solid #2d1645;
  background: #2d1645;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  color: #c0bac7;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.user-date-L:hover {
  cursor: pointer;
}

.user-message-R {
  width: 420px;
  border: 1px solid #00c794;
  background: #00c794;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  color: #c8ebe4;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.user-message-R:hover {
  cursor: pointer;
}

.user-date-R {
  width: 420px;
  border: 1px solid #2d1645;
  background: #2d1645;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  color: #c0bac7;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.user-date-L:hover {
  cursor: pointer;
}


.user-details {
  font-size: 12px;
  margin-bottom: 3px;
  color: #564569;
}

.user-details-time {
  font-size: 12px;
  margin-bottom: 3px;
  color: #564569;
}